@import url("./css-wipe.css");
@import url("./helper.css");
@import url("./layout.css");
@import url("./element.css");

/* ==========================================================================
   추가된 Base 항목
   ========================================================================== */

/* body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
} */
